.table td, .table th {
    padding: 2px 5px
}

.table-bordered td, .table-bordered th {
    border-right: 0px solid #dee2e6;
    border-left: 0px solid #dee2e6;
}

.btn-many {
    padding-left: 5px;
}

    .btn-many button {
        margin: -0px;
        border:0;
        padding-left:12px;
        padding-right:12px;
    }
 