.table td, .table th {
    padding: 2px 5px
}

.table-bordered td, .table-bordered th {
    border-right: 0px solid #dee2e6;
    border-left: 0px solid #dee2e6;
}

.btn-many {
    padding-left: 5px;
}

    .btn-many button {
        margin: -0px;
        border:0;
        padding-left:12px;
        padding-right:12px;
    }

#frmProjectSave .btn {
    background: #f3adad !important;
    border:0 !important;
    font-size:14px;
    padding:6px 8px !important
}
.layui-layer-btn {
     font-size:15px;
     padding-top:0 !important;
}
 
.layui-layer-btn a {
    font-size: 15px;
}
#divProject .comboTreeDropDownContainer  {
   height:100px
}
#frmPathSave .comboTreeDropDownContainer {
    height: 100px
}

@media (max-width: 1270px) 
{
    .btn-many {
        max-width:500px !important
    }
    .btn-many  button{
        margin-bottom:5px;
    }
}