<div id="divPath" style="display:none">
    <form id="frmPathSave" class="" action="" method="post" novalidate="">
        <div class="x_content" style="margin-top:20px">
            <div class="field item form-group">
                <label class="col-form-label col-md-2 col-sm-2  label-align">模版<span class="required">*</span></label>
                <div class="col-md-10 col-sm-9">
                    <input type="text" id="saveTemplateName1" name="TemplateName1" placeholder="Select" autocomplete="off" />
                    <input id="saveTemplateId1" type="hidden" value="0" name="TemplateId1" />
                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-2 col-sm-2  label-align">生成路径<span class="required">*</span></label>
                <div class="col-md-10 col-sm-9">
                    <input id="savePath" name="Path" type="text" value="C:\suagrdemo\database" class="form-control" />

                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-2 col-sm-2  label-align">文件后缀<span class="required">*</span></label>
                <div class="col-md-10 col-sm-9">
                    <input id="savePath" name="FileSuffix" type="text" value=".cs" class="form-control" />
                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-2 col-sm-2  label-align">.NET类库<span class="required">*</span></label>
                <div class="col-md-10 col-sm-9">
                    <input type="text" id="saveNetVersionName" name="NetVersion" placeholder="Select" autocomplete="off" />
                    <input id="saveNetVersion" type="hidden" value="0" name="NetVersion" />
                </div>
            </div>
            <div id="divLib">
                <div class="field item form-group lib">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">类库名<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input id="saveLibraryName" name="LibraryName" value="" type="text" class="form-control" />
                    </div>
                </div>
                <div class="field item form-group lib">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">Nuget引用<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input type="text" id="saveNugetName" name="NugetName" placeholder="Select" autocomplete="off" />
                        <input id="saveNuget" type="hidden" value="0" name="Nuget" />
                    </div>
                </div>
            </div>
            <div class="field item form-group lib">
                <label class="col-form-label col-md-2 col-sm-2  label-align">保存方案</label>
                <div class="col-md-10 col-sm-9">
                    <input id="saveProjentName" name="ProjentName" type="text" class="form-control" placeholder="填写方案名称可以保当前操作，方便下次使用" />
                </div>
                <input id="SaveTable1" type="hidden" name="Tables" value="" />
            </div>
        </div>
    </form>
</div>
<div id="divProject" style="display:none">
    <form id="frmProjectSave" class="" action="" method="post" novalidate="">
        <div class="x_content" style="margin-top:20px">
            <div class="field item form-group">
                <label class="col-form-label col-md-2 col-sm-2  label-align">方案<span class="required">*</span></label>
                <div class="col-md-10 col-sm-9">
                    <input type="text" id="saveProjectName" name="ProjectName" placeholder="Select" autocomplete="off" />
                    <input id="saveProjectId" type="hidden" value="0" name="ProjectId" />
                    <input id="SaveTable2" type="hidden" name="Tables" value="" />
                </div>
            </div>
        </div>
    </form>
</div>
