@page
@model SoEasyPlatform.Pages.CodeTableInfoModel
@{
    Layout = "~/Pages/Shared/_Window.cshtml";
    var edit =string.IsNullOrEmpty(Request.QueryString.Value)?"":"edit";
}
@section js
{
    <script src="~/vendors/editTable/jquery.edittable.js"></script>
    <script src="~/vendors/editTable/jquery-ui.js"></script>
    <script src="~/views/system/codetableinfo@(edit).js"></script>
}
@section css
{
    <link href="~/vendors/editTable/jquery.edittable.css" rel="stylesheet" />
    <link href="~/vendors/editTable/jquery-ui.css" rel="stylesheet" />
    <style>
        #Frm_table .form-group {
            margin-right: 10px;
        }

        #divBtn .btn {
            font-size: 14px !important;
            padding: 3px 4px;
            background: #87979e;
            border: #87979e;
        }

        .x_title h2 {
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px !important;
        }

        .t1 h2 {
            font-size: 16px;
            font-weight: 400;
            margin-top: 5px !important;
        }
        .code_number {
            width: 50px;
            border: 0;
        }
    </style>
}

<div style="padding:10px">
    <div class="x_title  t1">
        <h2>实体/表</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="Frm_table" class="form-inline">
            <div class="form-group">
                <label for="ex3" class="col-form-label"> 类名：</label>
                <input  id="txtId" type="hidden"/>
                <input id="txtClassName" type="text" name="Desc" class="form-control input" placeholder=" ">
            </div>
            <div class="form-group">
                <label for="ex3" class="col-form-label"> 表名：</label>
                <input id="txtTableName" type="text" name="Desc" class="form-control input" placeholder=" ">
            </div>
            <div class="form-group">
                <label for="ex3" class="col-form-label"> 备注：</label>
                <input type="text" id="txtDesc" name="Desc" class="form-control input" placeholder=" ">
            </div>
        </form>
    </div>
    <div class="x_title">
        <h2>属性/字段</h2>
        <div class="clearfix"></div>
    </div>
    <div id="divBtn" class="x_content">
        <button id="btnEdit" type="button" class="btn btn-blue"><i class="fa fa-edit"></i>属性格式化</button>
        <button id="btnEdit" type="button" class="btn btn-blue"><i class="fa fa-edit"></i>数据字段格式化</button>
        <button id="btnAdd" type="button" class="btn btn-blue"><i class="fa fa-plus"></i>添加索引</button>
        <button id="btnEdit" type="button" class="btn btn-blue"><i class="fa fa-edit"></i>添加唯一索引</button>
    </div>
    <form method="post" action="#output">
        <textarea id="examplex" style="display: none;" name="myField"></textarea>
    </form>

</div>
