@page
@model SoEasyPlatform.Pages.CodeTableInfoModel
@{
    Layout = "~/Pages/Shared/_Window.cshtml";
}
@section js
{
    <script src="~/vendors/editTable/jquery.edittable.js"></script>
    <script src="~/vendors/editTable/jquery-ui.js"></script>
    <script>
        var mynewtable;
        var data = {
            Columns:
                [
                    ["Id", "Id", "", "编号", 1, 1, 1],
                    [],
                    [],
                    [],
                    [],
                    [],
                    [],
                    [],
                    [],
                ]
        };
        function GetData() {
            var json = {
                "ClassName": $("#txtClassName").val(),
                "TableName": $("#txtTableName").val(),
                "Description": $("#txtDesc").val(),
                "ColumnInfoList": []
            };
            var columns = mynewtable.getData();
            if (columns != null) {
                $.each(columns, function (i, v) {
                    if (v.length >= 7) {
                        var propertyName = v[0];
                        var fieldName = v[1];
                        var ctype = v[2];
                        var desc = v[3];
                        var required = v[4];
                        var isPk = v[5];
                        var isIdentity = v[6];
                        json.ColumnInfoList.push({
                            ClassProperName:propertyName,
                            DbColumnName:fieldName,
                            Required:required,
                            IsIdentity:isIdentity,
                            IsPrimaryKey:isPk,
                            Description:desc,
                            CodeType:ctype
                        });
                    }
                })
            }
            return json;
        }
        function InitData() {
            mynewtable = $('#examplex').editTable({
                field_templates: {
                    'checkbox': {
                        html: '<input type="checkbox"/>',
                        getValue: function (input) {
                            return $(input).is(':checked');
                        },
                        setValue: function (input, value) {
                            if (value) {
                                return $(input).attr('checked', true);
                            }
                            return $(input).removeAttr('checked');
                        }
                    },
                    'textarea': {
                        html: '<textarea/>',
                        getValue: function (input) {
                            return $(input).val();
                        },
                        setValue: function (input, value) {
                            return $(input).text(value);
                        }
                    },
                    'select': {
                        html: '<select calss="selCstype"><option value="">int</option><option>string</option></select>',
                        getValue: function (input) {
                            return $(input).val();
                        },
                        setValue: function (input, value) {
                            var select = $(input);
                            select.find('option').filter(function () {
                                return $(this).val() == value;
                            }).attr('selected', true);
                            return select;
                        }
                    }
                },
                row_template: ['text', 'text', 'select', 'text', 'checkbox', 'checkbox', 'checkbox'],
                headerCols: ['实体属名', '数据库字段', "类型", '备注', '必填', '主键', '自增'],
                first_row: false,
                data: data.Columns,
                validate_field: function (col_id, value, col_type, $element) {
                    if (col_type === 'checkbox') {
                        $element.parent('td').animate({ 'background-color': '#fff' });
                        if (value === false) {
                            $element.parent('td').animate({ 'background-color': '#DB4A39' });
                            return false;
                        }
                    }
                    return true;
                },
                tableClass: 'inputtable custom'
            });
        }
        function InitEevent() {
            $("#txtClassName").blur(function () {
                var th = $(this);
                var thVal = th.val();
                var table = $("#txtTableName");
                var tableValue = table.val();
                if (tableValue == null || tableValue == "") {
                    table.val(thVal);
                }
            });
        }
        InitData();
        InitEevent();
    </script>
}
@section css
{
    <link href="~/vendors/editTable/jquery.edittable.css" rel="stylesheet" />
    <link href="~/vendors/editTable/jquery-ui.css" rel="stylesheet" />
    <style>
        #Frm_table .form-group {
            margin-right: 10px;
        }

        #divBtn .btn {
            font-size: 14px !important;
            padding: 3px 4px;
            background: #87979e;
            border: #87979e;
        }

        .x_title h2 {
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px !important;
        }

        .t1 h2 {
            font-size: 16px;
            font-weight: 400;
            margin-top: 5px !important;
        }
    </style>
}

<div style="padding:10px">
    <div class="x_title  t1">
        <h2>实体/表</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="Frm_table" class="form-inline">
            <div class="form-group">
                <label for="ex3" class="col-form-label"> 类名：</label>
                <input id="txtClassName" type="text" name="Desc" class="form-control input" placeholder=" ">
            </div>
            <div class="form-group">
                <label for="ex3" class="col-form-label"> 表名：</label>
                <input id="txtTableName" type="text" name="Desc" class="form-control input" placeholder=" ">
            </div>
            <div class="form-group">
                <label for="ex3" class="col-form-label"> 备注：</label>
                <input type="text" id="txtDesc" name="Desc" class="form-control input" placeholder=" ">
            </div>
        </form>
    </div>
    <div class="x_title">
        <h2>属性/字段</h2>
        <div class="clearfix"></div>
    </div>
    <div id="divBtn" class="x_content">
        <button id="btnAdd" type="button" class="btn btn-blue"><i class="fa fa-plus"></i>添加索引</button>
        <button id="btnEdit" type="button" class="btn btn-blue"><i class="fa fa-edit"></i>添加唯一索引</button>
    </div>
    <form method="post" action="#output">
        <textarea id="examplex" style="display: none;" name="myField"></textarea>
    </form>

</div>
