@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "DbFirst 库生成实体";
    ViewBag.IsDbFirst = true;
    ViewBag.DetaultName = "SugarModels";
}
@section js{
    <script src="~/views/system/codetable.js@(ViewBag.version)"></script>
    <link href="~/views/system/css/CodeTable.css@(ViewBag.version)" rel="stylesheet" />
}
<input id="hidType" type="hidden"  value="1"/>
<div class="x_panel search_box">
    @Html.Partial("_CodeTable.cshtml")
</div>