@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var isDbFirst = true;
    ViewData["Title"] = isDbFirst? "DbFirst":"CodeFirst";
}
@section js{
    <script src="~/views/system/codetable.js"></script>
}
<div class="x_panel search_box">
    <div class="x_title">
        <h2><i class="fa fa-newspaper-o"></i> @ViewData["Title"] </h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <form id="divFrom" class="form-inline">

            <div class="form-group m-3">
                <label for="ex3" class="col-form-label">数据库：</label>
                <input type="text" id="txtDbIdName" name="DbIdName" placeholder="Select" autocomplete="off" />
                <input id="txtDbId" type="hidden" value="0" name="DbId" />
            </div>

            <div class="form-group m-3">
                <label for="ex3" class="col-form-label">名称：</label>
                <input type="text" id="ClassName" name="ClassName" class="form-control input" placeholder=" 类名或者表名 ">
            </div>

            <button id="btnSearch" type="button" class="btn btn-search"><i class="fa fa-search"></i>搜索</button>
            <button id="btnReset" type="button" class="btn btn-green"><i class="fa fa-refresh"></i>重置</button>

            @Html.Partial("Page")
        </form>
    </div>
    <div class="x_content">
        @if (isDbFirst)
        {
            <button id="btnAdd" type="button" class="btn btn-blue hide"><i class="fa fa-plus"></i> 添加</button>
            <button id="btnDbFirstAdd" type="button" class="btn btn-blue "><i class="fa fa-cloud-upload"></i> 添加</button>
            <button id="btnEdit" type="button" class="btn btn-blue"><i class="fa fa-edit"></i> 编辑</button>
            <button id="btnDel" type="button" class="btn btn-blue"><i class="fa fa-close"></i> 删除</button>
            <button id="btnTable" onclick="alert('未实现')" type="button" class="btn btn-blue hide"><i class="fa fa-toggle-right"></i> 同步表</button>
            <button id="btnTable" onclick="alert('未实现')" type="button" class="btn btn-blue dbfirst"><i class="fa fa-toggle-right"></i>同步实体</button>
            <button id="btnPath" type="button" class="btn btn-blue"><i class="fa fa-cogs"></i> 生成实体</button>
 
        }
        else
        {
            <button id="btnAdd" type="button" class="btn btn-blue "><i class="fa fa-plus"></i> 添加</button>
            <button id="btnDbFirstAdd" type="button" class="btn btn-blue hide"><i class="fa fa-cloud-upload"></i> 数据库导入</button>
            <button id="btnEdit" type="button" class="btn btn-blue"><i class="fa fa-edit"></i> 编辑</button>
            <button id="btnDel" type="button" class="btn btn-blue"><i class="fa fa-close"></i> 删除</button>
            <button id="btnTable" onclick="alert('未实现')" type="button" class="btn btn-blue "><i class="fa fa-toggle-right"></i> 同步表</button>
            <button id="btnTable" onclick="alert('未实现')" type="button" class="btn btn-blue hide"><i class="fa fa-toggle-right"></i> 同步实体</button>
            <button id="btnPath" type="button" class="btn btn-blue"><i class="fa fa-cogs"></i> 生成实体</button>
      
        }
    </div>
    <div class="x_content">
        <table id="divGrid"></table>
        <div id="divGridPage" class="pagination"></div>
    </div>
    <div id="divOpen" style="display:none">

    </div>
    <div id="divPath" style="display:none">
        <form id="frmPathSave" class="" action="" method="post" novalidate="">
            <div class="x_content" style="margin-top:20px">
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">方案<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input type="text" id="saveProjectName" name="ProjectName" placeholder="Select" autocomplete="off" />
                        <input id="saveProjectId" type="hidden" value="0" name="ProjectId" />
                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">模版<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input type="text" id="saveTemplateName1" name="TemplateName1" placeholder="Select" autocomplete="off" />
                        <input id="saveTemplateId1" type="hidden" value="0" name="TemplateId1" />
                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">生成路径<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input id="savePath" name="Path" type="text" value="C:\suagrdemo\database" class="form-control" />

                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">文件后缀<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input id="savePath" name="FileSuffix" type="text" value=".cs" class="form-control" />
                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">.NET类库<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input type="text" id="saveNetVersionName" name="NetVersion" placeholder="Select" autocomplete="off" />
                        <input id="saveNetVersion" type="hidden" value="0" name="NetVersion" />
                    </div>
                </div>
                <div id="divLib">
                    <div class="field item form-group lib">
                        <label class="col-form-label col-md-2 col-sm-2  label-align">类库名<span class="required">*</span></label>
                        <div class="col-md-10 col-sm-9">
                            <input id="saveLibraryName" name="LibraryName" value="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="field item form-group lib">
                        <label class="col-form-label col-md-2 col-sm-2  label-align">Nuget引用<span class="required">*</span></label>
                        <div class="col-md-10 col-sm-9">
                            <input type="text" id="saveNugetName" name="NugetName" placeholder="Select" autocomplete="off" />
                            <input id="saveNuget" type="hidden" value="0" name="Nuget" />
                        </div>
                    </div>
                </div>
                <div class="field item form-group lib">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">保存方案</label>
                    <div class="col-md-10 col-sm-9">
                        <input id="saveProjentName" name="ProjentName" type="text" class="form-control" placeholder="填写方案名称可以保当前操作，方便下次使用" />
                    </div>
                    <input id="SaveTable1" type="hidden" name="Tables" value="" />
                </div>
            </div>
        </form>
    </div>
</div>
