@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "视图生成类模式，通过SQL生成实体 （入门步骤 1.选库 2.建类 3.生成方案）";
    ViewBag.DetaultName = "SugarModels";
    ViewBag.IsView = true;
}
@section js{
    <script src="~/views/system/codetable.js@(ViewBag.version)"></script>
    <link href="~/views/system/css/CodeTable.css@(ViewBag.version)" rel="stylesheet" />
    <link href="~/views/system/css/dbview.css@(ViewBag.version)" rel="stylesheet" />
    <script src="~/views/system/dbview.js@(ViewBag.version)"></script>
}
<input id="hidType" type="hidden" value="1" />
<div class="x_panel search_box">
    @Html.Partial("_CodeTable.cshtml")
</div>
<div id="divView" style="display:none">
    <from id="frmView">
        <textarea name="ViewSql" style="height:180px;border:0" class="form-control">
           
            Select * from  替换视图名  where 1=2 


         </textarea>
        <p  class="red" >
           &nbsp; 说明: 根据查询结构创建实体
        </p>
    </from>
</div>