@page
@{
    ViewData["Title"] = "方案管理";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section js{
    <script src="~/views/system/project.js"></script>
}
<div class="x_panel search_box">
    <div class="x_title">
        <h2><i class="fa fa-home"></i> @ViewData["Title"]</h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <form id="divFrom" class="form-inline">
            <div class="form-group">
                <label for="ex3" class="col-form-label">名称：</label>
                <input type="text" id="ProjentName" name="ProjentName" class="form-control input w-150" placeholder=" ">
            </div>
            <div class="form-group"  >
                <label for="ex3" class="col-form-label">分类：</label>
                <input type="text" id="txtModelIdName" name="ModelIdName" placeholder="Select" class="w-150" autocomplete="off" />
                <input id="txtModelId" type="hidden" value="0" name="ModelId" />
            </div>
            <button id="btnSearch" type="button" class="btn btn-blue m-l-15"><i class="fa fa-search"></i>搜索</button>
            <button id="btnReset" type="button" class="btn btn-info"><i class="fa fa-refresh"></i>重置</button>
            @Html.Partial("Page")
        </form>
    </div>
    <div class="x_content">
        <button id="btnAdd" style="display:none" type="button" class="btn btn-blue"><i class="fa fa-plus"></i>添加</button>
        <button id="btnEdit" style="display:none"  type="button" class="btn btn-blue"><i class="fa fa-edit"></i>修改</button>
        <button id="btnDel" type="button" class="btn btn-search"><i class="fa fa-close"></i>删除</button>
    </div>
    <div class="x_content">
        <table id="divGrid"></table>
        <div id="divGridPage" class="pagination"></div>
    </div>
    <div id="divOpen" style="display:none">
        <form id="frmSave" class="" action="" method="post" novalidate="">
            <div class="x_content" style="margin-top:20px">
                <div class="field item form-group lib">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">方案名</label>
                    <div class="col-md-10 col-sm-9">
                        <input id="saveProjentName" name="ProjentName" type="text" class="form-control" placeholder="方案名" />
                    </div>
                    <input id="SaveTable1" type="hidden" name="Tables" value="" />
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">模版<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input type="text" id="saveTemplateName1" name="TemplateName1" placeholder="Select" autocomplete="off" />
                        <input id="saveTemplateId1" type="hidden" value="0" name="TemplateId1" />
                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">生成路径<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input id="savePath" name="Path" type="text" value="C:\suagrdemo\database" class="form-control" />

                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">文件后缀<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input id="savePath" name="FileSuffix" type="text" value=".cs" class="form-control" />
                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">.NET类库<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input type="text" id="saveNetVersionName" name="NetVersion" placeholder="Select" autocomplete="off" />
                        <input id="saveNetVersion" type="hidden" value="0" name="NetVersion" />
                    </div>
                </div>
                <div id="divLib">
                    <div class="field item form-group lib">
                        <label class="col-form-label col-md-2 col-sm-2  label-align">类库名<span class="required">*</span></label>
                        <div class="col-md-10 col-sm-9">
                            <input id="saveLibraryName" name="LibraryName" value="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="field item form-group lib">
                        <label class="col-form-label col-md-2 col-sm-2  label-align">Nuget引用<span class="required">*</span></label>
                        <div class="col-md-10 col-sm-9">
                            <input type="text" id="saveNugetName" name="NugetName" placeholder="Select" autocomplete="off" />
                            <input id="saveNuget" type="hidden" value="0" name="Nuget" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
