@page
@{
    ViewData["Title"] = "生成表";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section js{
    <script src="~/views/system/table.js"></script>
}
<div class="x_panel search_box">
    <div class="x_title">
        <h2><i class="fa fa-newspaper-o"></i> 生成表</h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <form id="divFrom" class="form-inline">
            <div class="form-group">
                <label for="ex3" class="col-form-label">表名：</label>
                <input type="text" id="TableName" name="TableName" class="form-control input" placeholder=" ">
            </div>

            <input type="text" id="DatabaseName" name="DatabaseName" placeholder="Select" autocomplete="off" />
            <input id="Database" type="hidden" value="0" name="Database" />

            <button id="btnSearch" type="button" class="btn btn-search"><i class="fa fa-search"></i>搜索</button>
            <button id="btnReset" type="button" class="btn btn-green"><i class="fa fa-refresh"></i>重置</button>
            @Html.Partial("Page")
        </form>
    </div>
    <div class="x_content">
        <button id="btnProject" type="button" class="btn btn-blue"><i class="fa fa-plus"></i>生成实体到项目</button>
        <button id="btnPath" type="button" class="btn btn-blue"><i class="fa fa-plus"></i>生成实体到指定路径</button>
    </div>
    <div class="x_content">
        <table id="divGrid"></table>
        <div id="divGridPage" class="pagination"></div>
    </div>
    <div id="divPathOpen" style="display:none">
        <form id="frmSave" class="" action="" method="post" novalidate="">
            <div class="x_content" style="margin-top:20px">
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">模版<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input type="text" id="saveTemplateName1" name="TemplateName1" placeholder="Select" autocomplete="off" />
                        <input id="saveTemplateId1" type="hidden" value="0" name="TemplateId1" />
                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">生成路径<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input id="txtPath" name="Path" type="text" placeholder="例如 C:\project\demo" class="form-control" />

                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">项目名称 </label>
                    <div class="col-md-10 col-sm-9">
                        <input id="txtProjentName" name="ProjentName" type="text" class="form-control" placeholder="填写名称将保存到项目方便下次使用" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="divProject" style="display:none">
        <form id="frmSave" class="" action="" method="post" novalidate="">
            <div class="x_content" style="margin-top:20px">
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">模版<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input type="text" id="saveDbTypeName" name="DbTypeName" placeholder="Select" autocomplete="off" />
                        <input id="saveDbType" type="hidden" value="0" name="DbType" />
                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">路径<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input type="file" webkitdirectory directory   />
                    </div>
                </div>
                <div class="field item form-group">
                    <label class="col-form-label col-md-2 col-sm-2  label-align">连接字符串<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-9">
                        <input id="saveConnection" name="Connection" class="form-control" type="text" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
