@page
@{
    ViewData["Title"] = "生成表";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section js{
    <script src="~/views/system/table.js"></script>
}
<div class="x_panel search_box">
    <div class="x_title">
        <h2><i class="fa fa-newspaper-o"></i> 生成表</h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <form id="divFrom" class="form-inline">
            <div class="form-group">
                <label for="ex3" class="col-form-label">表名：</label>
                <input type="text" id="TableName" name="TableName" class="form-control input" placeholder=" ">
            </div>

            <input type="text" id="DatabaseName" name="DatabaseName" placeholder="Select" autocomplete="off" />
            <input id="Database" type="hidden" value="0" name="Database" />

            <button id="btnSearch" type="button" class="btn btn-search"><i class="fa fa-search"></i>搜索</button>
            <button id="btnReset" type="button" class="btn btn-green"><i class="fa fa-refresh"></i>重置</button>
            @Html.Partial("Page")
        </form>
    </div>
    <div class="x_content">
        <button id="btnProject" type="button" class="btn btn-blue"><i class="fa fa-plus"></i>生成实体到项目</button>
        <button id="btnPath" type="button" class="btn btn-blue"><i class="fa fa-plus"></i>生成实体到指定路径</button>
    </div>
    <div class="x_content">
        <table id="divGrid"></table>
        <div id="divGridPage" class="pagination"></div>
    </div>

</div>
