@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "生成WEB";
}
@section js{
    <script src="~/views/system/codetable.js"></script>
    <link href="~/views/system/css/CodeTable.css" rel="stylesheet" />
}
<div class="x_panel search_box">
    @Html.Partial("_CodeTable.cshtml")
</div>