<div id="divMenu" class="menu_section">
    <template v-for="item in data">
        <ul class="nav side-menu">
            <li>
                <a class="name" v-cloak><i :class="item.icon"></i> {{item.menuName}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu"  v-cloak>
                    <template v-for="child in item.child">
                        <li><a :href="child.url">{{child.menuName}}</a></li>
                    </template>
                </ul>
            </li>
        </ul>
    </template>
</div>
 