<div id="divMenu" class="menu_section">
    <template v-for="item in Data">
        <ul class="nav side-menu">
            <li>
                <a class="name" v-cloak><i :class="item.Icon"></i> {{item.MenuName}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu"  v-cloak>
                    <template v-for="child in item.Child">
                        <li><a :href="child.Url">{{child.MenuName}}</a></li>
                    </template>
                </ul>
            </li>
        </ul>
    </template>
</div>
 